<div class="header">
    <div class="{{logoClass}}"><img src="assets/img/logo.png"/></div>
    <i  (click)="toggleCollapsedSideabar()" class="anticon anticon-{{type}}" style="font-size: 20px;"></i>
    <div class="right">
        <span>2017-10-28 admin 欢迎您登录！&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <nz-dropdown>
            <a class="ant-dropdown-link" nz-dropdown>
                系统导航 <i class="anticon anticon-down"></i>
            </a>
            <ul nz-menu>
                <li nz-menu-item>
                    <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">支付宝</a>
                </li>
                <li nz-menu-item>
                    <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">支付宝</a>
                </li>
                <li nz-menu-item>
                    <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">支付宝</a>
                </li>
            </ul>
        </nz-dropdown>
        <nz-dropdown>
            <a class="ant-dropdown-link" nz-dropdown>
                设置 <i class="anticon anticon-down"></i>
            </a>
            <ul nz-menu>
                <li nz-menu-item>
                    修改密码
                </li>
                <li nz-menu-item>
                    退出登录
                </li>
            </ul>
        </nz-dropdown>
    </div>
</div>
